/* GENERAL RULES */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* MONTHS-YEARS-CONTAINER */

.months-years-container {

  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px;

}

.fa-angle-left, .fa-angle-right {

  font-size: 30px;
  cursor: pointer;

}

/* MONTH YEAR */

h1 {

  display: none;
  text-align: center;
  margin: 0 40px;

}

h1.active {

  display: block;

}

/* DAYS CONTAINER */

.days-container {

  display: flex;
  justify-content: center;
  margin-top: 40px;

}

.days-container #days {


  font-size: 20px;
  list-style-type: none;

}

.days-container #days li {

  margin: 5px 0;

}

.holidays {

  color: red;

}
